<footer>
	{%- include social.html -%}
	<img id="footer_logo" src="{{ site.http_domain }}{{ site.logo }}" />
	<div id="gallery">
		<img class="first_in_row_3" src="/assets/images/terkaisland_random_1.jpg" alt="Terka island area, random picture" />
		<img src="/assets/images/terkaisland_random_2.jpg" alt="Terka island area, random picture" />
		<img src="/assets/images/terkaisland_random_3.jpg" alt="Terka island area, random picture" />
		<img class="first_in_row_2" src="/assets/images/terkaisland_random_4.jpg" alt="Terka island area, random picture" />
		<img src="/assets/images/terkaisland_random_5.jpg" alt="Terka island area, random picture" />
		<img src="/assets/images/terkaisland_random_6.jpg" alt="Terka island area, random picture" />
	</div>
</footer>
